<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinCloud.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WinCloud.Properties.Settings>
            <setting name="fs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="noti" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="beta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minimi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ctrlsetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shasno" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Amber</value>
            </setting>
        </WinCloud.Properties.Settings>
    </userSettings>
</configuration>